---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <!-- App Preloader Start -->
    <div id="preloader">
        <div class="loader_line"></div>
        <div
            class="absolute w-20 h-20 transition-all delay-300 -translate-x-1/2 -translate-y-1/2 rounded-full logo top-1/2 left-1/2 bg-nightBlack border-greyBlack flex-center">
            <img src="/img/manuelslemos-logo.png" alt="Manuel S. Lemos">
        </div>
    </div>

    


    <!-- Js Library Start -->
    <script is:inline src="/js/jquery-3.6.0.min.js"></script>
    <script is:inline src="/js/waypoints.min.js"></script>
    <script is:inline src="/js/tw-elements.umd.min.js"></script>
    <script is:inline src="/js/cd-headline.js"></script>
    <script is:inline src="/js/jquery.counterup.min.js"></script>
    <script is:inline src="/js/swiper-bundle.min.js"></script>
    <script is:inline src="/js/scrollIt.min.js"></script>
    <script is:inline src="/js/circle-progress.min.js"></script>
    <script is:inline src="/js/script.js"></script>
    <!-- Js Library End -->
</Layout>